#input{
    margin-left: 100px;
    margin-top:50px;
}

#add{
    margin-top: 50px;
    background-color: aqua
}

#delete{
    margin-top: 60px;
    margin-left: 100px;
    background-color: blueviolet;
}


#add:active{
background-color: greenyellow;
}

#delete:active{
    background-color: aquamarine;
  }
  
   
